img {
    height: 580px;
    display: flex;
    justify-content: center;
}

.img-logo-centro {
    display: flex;
    height: 50px;
    margin: 0;
}

.ali-1 {
    height: 250px;
}

.ali-2 {
    height: 250px;
}

.ali-3 {
    height: 250px;
}

.ali-4 {
    height: 250px;
}
